* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90.7vh;
  background-image: linear-gradient(rgb(175, 179, 249), rgb(98, 105, 246));
  background-size: cover;
  background-repeat: no-repeat;
}
/* header */
.photo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#img {
  border: 2px solid white;
  border-radius: 100px;
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}
/* header */

/* contacts */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 30px;
}
.info > h2:nth-child(1) {
  font-family: cursive;
  color: white;
}
.info > h2:nth-child(2) {
  font-family: fantasy;
  color: white;
}
.contacts {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-direction: column;
  row-gap: 18px;
}
.png {
  width: 8%;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 85%;
  font-size: 18px;
}
.silka {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.tg {
  display: flex;
  border: 1.4px dashed white;
  border-radius: 20px;
  width: 40%;
  padding: 3px 10px;
  animation: icon 0.5s forwards infinite;
  position: relative;
}
@keyframes icon {
  to {
    transform: scale(1.1);
  }
}

.insta {
  display: flex;
  border: 1.4px dashed white;
  border-radius: 20px;
  width: 40%;
  padding: 3px 10px;
  animation: icon2 0.5s forwards infinite;
  position: relative;
}
@keyframes icon2 {
  to {
    transform: scale(1.1);
  }
}

.email {
  display: flex;
  border: 1.4px dashed white;
  border-radius: 20px;
  width: 40%;
  padding: 3px 10px;
  animation: icon3 0.5s forwards infinite;
  position: relative;
}
@keyframes icon3 {
  to {
    transform: scale(1.1);
  }
}

.tel {
  display: flex;
  border: 1.4px dashed white;
  border-radius: 20px;
  width: 40%;
  padding: 3px 10px;
  animation: icon4 0.5s forwards infinite;
  position: relative;
}
@keyframes icon4 {
  to {
    transform: scale(1.1);
  }
}
/* contacts */

/* footer */
.icons {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-top: 40px;
}
.icon {
  width: 40px;
  &:hover {
    transform: scale(1.3);
  }
}
/* footer */

/* media */
@media only screen and (max-width: 1000px) {
  #img {
    width: 13%;
  }
  .tg {
    width: 70%;
    padding: 2px 3px;
  }
  .png {
    width: 8%;
  }
  p {
    width: 85%;
    font-size: 18px;
  }
  .insta {
    width: 70%;
    padding: 2px 3px;
  }
  .email {
    width: 70%;
    padding: 2px 7px;
  }
  .tel {
    width: 70%;
    padding: 2px 3px;
  }
}

@media only screen and (max-width: 850px) {
  #img {
    width: 17%;
  }
  .tg {
    width: 70%;
    padding: 2px 3px;
  }
  .png {
    width: 8%;
  }
  p {
    width: 80%;
    font-size: 18px;
  }
  .insta {
    width: 70%;
    padding: 2px 3px;
  }
  .email {
    width: 70%;
    padding: 2px 7px;
  }
  .tel {
    width: 70%;
    padding: 2px 3px;
  }
}

@media only screen and (max-width: 550px) {
  #img {
    width: 22%;
  }
  .tg {
    width: 70%;
    padding: 3px 5px;
  }
  .png {
    width: 12%;
  }
  p {
    width: 80%;
    font-size: 18px;
  }
  .insta {
    width: 70%;
    padding: 3px 5px;
  }
  .email {
    width: 70%;
    padding: 3px 5px;
  }
  .tel {
    width: 70%;
    padding: 3px 5px;
  }
  .icon {
    width: 35px;
  }
}

@media only screen and (max-width: 450px) {
  #img {
    width: 30%;
  }
  .tg {
    width: 70%;
    padding: 3px 5px;
  }
  .png {
    width: 14%;
  }
  p {
    width: 75%;
    font-size: 18px;
  }
  .insta {
    width: 70%;
    padding: 3px 5px;
  }
  .email {
    width: 70%;
    padding: 3px 7px;
  }
  .tel {
    width: 70%;
    padding: 3px 5px;
  }
}

@media only screen and (max-width: 400px) {
  #img {
    width: 30%;
  }
  .tg {
    width: 70%;
    padding: 3px 5px;
  }
  .png {
    width: 15%;
  }
  p {
    width: 75%;
    font-size: 18px;
  }
  .insta {
    width: 70%;
    padding: 3px 5px;
  }
  .email {
    width: 70%;
    padding: 3px 7px;
  }
  .tel {
    width: 70%;
    padding: 3px 5px;
  }
}
/* media */
